<div>
    <h1 class="mb-5">Register your details</h1>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label for="fullName">Full name
                <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="fullName" formControlName="fullName">
        </div>
        <div class="form-group">
            <label for="email">Email
                <span class="text-danger">*</span>
            </label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password
                <span class="text-danger">*</span>
            </label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="form-group">
            <label for="phone">Phone
                <span class="text-danger">*</span>
            </label>
            <input type="number" class="form-control" id="phone" formControlName="phone">
        </div>
        <div formGroupName="address">
            <fieldset>
                <legend>Address</legend>
                <div class="form-group">
                    <label for="addressLine1">Line 1
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="addressLine1" formControlName="line1">
                </div>
                <div class="form-group">
                    <label for="addressLine2">Line 2</label>
                    <input type="text" class="form-control" id="addressLine2" formControlName="line2">
                </div>
                <div class="form-group">
                    <label for="city">City
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="form-group">
                    <label for="postcode">Postcode
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="postcode" formControlName="postcode">
                </div>
            </fieldset>
        </div>
        <button *ngIf="!user" class="btn btn-primary" (click)="register()">Register</button>
        <button *ngIf="user" class="btn btn-primary" (click)="update()">Update</button>

        <div class="mt-2" role="alert" *ngIf="displayError">
            <p class="text-danger">Registration Failed. Please try keying valid details!</p>
        </div>
    </form>
</div>