<div *ngIf="user">
    <h1>Hi {{user.fullName}} </h1>
    <div class="profile p-3">
        <p class="font-weight-bold">Your user id</p>
        <p>{{user._id}}</p>
        <p class="font-weight-bold mb-0">Email</p>
        <p>{{user.email}}</p>
        <div class="mb-4">
            <p class="font-weight-bold mb-0">Phone number</p>
            <p>{{user.phone}}</p>
        </div>
        <div>
            <p class="font-weight-bold mb-0">Address</p>
            <p class="mb-0">{{user.address.line1}}</p>
            <p class="mb-0">{{user.address.line2}}</p>
            <p class="mb-0">{{user.address.city}}</p>
            <p class="mb-0">{{user.address.postCode}}</p>
        </div>
    </div>
    <button class="btn btn-primary mt-3" (click)="navigate()">Update profile</button>
</div>