/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';

.form-group{
    margin-bottom: 2rem;
}

.nav-pills{
    .nav-link{
        border-radius: 0rem;
        &.active{
            background-color: #ffffff;
            border-bottom: 2px solid #0000ff;
        }
        .notification{
        width: 2rem;
        height: 2rem;
    }
}
}

.nav-item{
    margin-right: 1rem;
}

.badge {
    margin-left: -1rem;
}