<p>You have 4 notifications from your community!</p>
<div class="d-flex justify-content-center mb-3">
    <div>
        <div class="alert alert-dark" role="alert">
            A simple primary alert—check it out!
          </div> 
    </div>
    <div class="">
<button class="btn btn-success">Accept</button>
<button class="btn btn-link">Ignore</button>
    </div>
</div>
<div class="d-flex justify-content-center mb-3">
    <div>
        <div class="alert alert-dark" role="alert">
            A simple primary alert—check it out!
          </div> 
    </div>
    <div class="">
<button class="btn btn-success">Accept</button>
<button class="btn btn-link">Ignore</button>
    </div>
</div>
<div class="d-flex justify-content-center mb-3">
    <div>
        <div class="alert alert-success" role="alert">
            A simple primary alert—check it out!
          </div> 
    </div>
    <div class="">
<button class="btn btn-success">Accept</button>
<button class="btn btn-link">Ignore</button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div>
        <div class="alert alert-success" role="alert">
            A simple primary alert—check it out!
          </div> 
    </div>
    <div class="">
<button class="btn btn-success">Accept</button>
<button class="btn btn-link">Ignore</button>
    </div>
</div>


<div class="mt-5">
    <form>
        <div class="form-group">
            <label for="quantity">Quantity I can offer</label>
            <input type="number" class="form-control" id="quantity">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>

</div>

<div class="mt-5">
    <p>Your buddy is willing to share 10 masks you have requested for</p>
<p>You can reach him in this contact number : 0123456</p>
<p>Address</p>
</div>